.section {
  margin-bottom: 30px;

  > div {
    margin-bottom: 10px;

    input {
      width: 100%;
    }
  }

  table {
    width: 100%;

    input {
      width: 100%;
    }
  }
}

@media screen and (orientation: landscape) {
  .offcanvas-start {
    min-width: 500px;
  }

  .offcanvas-end {
    min-width: 500px;
  }
}
